.coupon-card {
    /* display: flex; */
    position: relative; /* Position relative for the parent */
    border: 0.5px solid;
    border-radius: 10px;
    border-color: white;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 180px;
    height: auto;
  
  }
  
  .coupon-card p {
    margin: 0; /* Remove default paragraph margin */
  }

  .coupon-image{
    width: 85%;

  }
  
  .coupon-close {
    position: absolute; /* Position absolute for the close icon */
    top: 5px; /* Adjust top position */
    right: 5px; /* Adjust right position */
    cursor: pointer;
  }
  
  /* Add padding left to align with text */
  .coupon-card-content {
    padding-left: 5px;
  }
  