
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: white;
  }
  
 .typewriter-container{
  color: black;
  font-family: 'Karrik';
  font-size: 32px;
 }
  
  ul {
    display: flex;
    list-style-type: none;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .button-navbar {
    background-color: transparent;
    border: 20px;
    border-radius: 40px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.7s ease-in-out;
  }
  
  .button-navbar:hover {
    background-color: black;
    color: #fffdfd;
  }
  
  .button-navbar-cartIcon {
    color: black;
    cursor: pointer;
    margin-left: 70px;
    margin-right: 180px;
  }
  .button-navbar-cartIcon:hover {
    border: 40px;
    padding: 1px;
    border-radius: 100px;
    background-color: rgb(35, 35, 35);
    color: white;
    cursor: pointer;
  }